<?xml version='1.0'?>

<launch>

   <!-- load the controllers -->
   <rosparam command="load" file="$(find sara_arm)/config/sara_arm_parametres.yaml"/>


    <!--   Start sara_arm hardware  -->
    <node pkg="sara_arm" type="sara_arm" name="sara_arm" output="screen">
        <!-- remap from="/sara_arm_controller/cmd_vel" to="/cmd" / -->
    </node>



    <!--   Start Controller spawner  -->
    <node name="sara_arm_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false"
        output="screen" args="sara_arm_trajectory_controller sara_arm_joint_state_controller"/>


</launch>